@import url(./_white/list__pic_white.css);
@import url(./_black/list__pic_black.css);

.list__pic {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  border-radius: 35px;
  margin-right: 15px;
}

@media screen and (max-width: 375px) {
  .list__pic {
      font-size: .125rem;
      margin-right: 10px;
  }
}
