.list__item {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 18px;
}

@media screen and (max-width: 375px) {
  .list__item {
    margin-top: 10px;
  }
}
